{% extends 'base.html' %}
{% block start %}
<div class="bg-[#fc8bf7]" id='/'>
  
    <div class=" max-w[1240px] md:px-20 px-3 py-4 mx-auto md:grid grid-cols-2  md:text-left  ">
        <div class="p-15">
            <img src="static/img/mypic.png " style="border-radius: 50%; margin-bottom: -20px; " alt="Image">
        </div>
        <div class="p-12">
            <br>
            <p class="text-3xl text-black ">Hi,</p> <br>
            <h1 class="md:text-4xl mb-2  font-bold ">Er. Nadeem Ali</h1>
            <h1 class="md:text-4xl  font-bold">I'm Software Engineer</h1> <br>
            <h1 class="text-l">
                I'm hardworking person,
                and dedicated person
            </h1>
            <button style=" border-radius: 20px; padding: 5px 18px; margin-top: 30px; background: #000; color: wheat;">
               Talk To Us
              </button>
        </div>


    </div>
</div>
</div>
<div class="max-w[1240px]  md:px-20 items-center mx-auto" id='services'>
    <h1 class="text-center  md:text-[2.3rem]  text-[20px] font-bold mt-[40px]">Have a Look at my Services</h1>
    <p class="text-center">Who are in extremely love with eco friendly system.</p>
    <div class="md:grid  grid-cols-2">
        <div class="m-4 text-justify">
            <img src="static/img/w2.png" alt="" class=" w-[90px]">
            <h1 class="text-[18px] font-bold ">Web Design</h1>
            <p class="mt-[20px]">
                I am a full stack developer . I can design to any website by use of Html, CSS , Javascript and
                bootstrap basically i am mostly use bootstrap in frontend of website.
            </p>
        </div>
        <div class="m-4 text-justify">
            <img src="static/img/w3.png" alt="" class=" w-[90px]">
            <h1 class="text-[18px] font-bold ">Web Development</h1>
            <p class="mt-[20px]">
                As a Python developer . I can design to any website by use of Html, CSS , Javascript and bootstrap
                and i can also backend of any website in Python's web framework Django/Flask . Mostly i am use to
                backend Django web framework.
            </p>
        </div>
        <div class="m-4 text-justify">
            <img src="static/img/s3.png" alt="">
            <h1 class="text-[18px] font-bold ">GUI Development</h1>
            <p class="mt-[20px]">

                GUI stands for Graphical User Interface we can called it Desktop Software .In the GUI Development i
                used to Tkinter(Tk/tcl) because it is very easy to design and backend of any software . I can
                developed Desktop Software any type according to client's requirements.

            </p>
        </div>
        <div class="m-4 text-justify">
            <img src="static/img/s2png.png" alt="">
            <h1 class="text-[18px] font-bold">Machine Learning</h1>
            <p class="mt-[20px]">
                If you need to any AI project or Machine Learning for example : Detection or recognition and Voice
                command software you can contact us.

            </p>
        </div>
        <div class="m-4 text-justify">
            <img src="static/img/g2.png" class="w-[90px]" alt="">
            <h1 class="text-[18px] font-bold ">Grapgics Design</h1>
            <p class="mt-[20px]">

                We are also a designer , we can design a picture or logo . Here we used many technologies to desgin
                a query . There we works of Enhance the quality of image and compress any too much big file and also
                we do create a logo or image for website or software etc.


            </p>
        </div>
        <div class="m-4 text-justify">
            <img src="static/img/software development .png" alt="">
            <h1 class="text-[18px] font-bold ">Software Development</h1>
            <p class="mt-[20px]">

                Any software can be called Graphical User Interface . we can called it Desktop Software or any type
                Software.In the GUI Development i used to Tkinter(Tk/tcl) because it is very easy to design and
                backend of any software . I can developed Desktop Software any type according to client's
                requirements.

            </p>
        </div>
    </div>
</div>
<div class="bg-[#e0ebeb]" id='about'>
    <div class=''>
        <h1 class="text-center md:text-[36px] text-[20px] font-bold mt-[60px] pt-10">About Myself</h1>
        <div class=" max-w[1240px] md:px-20 px-3 py-4 mx-auto md:grid grid-cols-2 mt-14 md:text-left text-center ">
            <div class=' pb-10'>
                <p class=" leading-relaxed text-[gray] ">I have done my primary and secondary education in my city
                    Hasanpur 244241 in UP. I've completed my
                    BCA in Aug 2022 with 81%. After Done my BCA period, We did project under the name of Online
                    Addmession System. I contribute my self as organizing team member and
                    core committee member of the national level technical event, Footprints. Now coming to my hobbies
                    and
                    goal. My short-term goal is to launch a software company in own city. My long-term goal is to
                    achieve a higher position of the organization. My hobies are to connect the daily activity to
                    engineering concept and playing PUBG. My strengths are I am a dedicated and hardworking person
                    and my area of improvement is I am a little bit shy and easily belive in peopls. That's all
                    about me.</p>

                <h2 class="font-bold my-6 text-xl">Tools Expertness</h2>

                <div class="w-[90%]">
                    <p class="text-right">IDEs 90%</p>
                    <meter class="w-[100%] h-[20px]" min="0" value="90" max="100"></meter>
                </div>
                <div class="w-[90%]">
                    <p class="text-right">Python Skills 75%</p>
                    <meter class="w-[100%] h-[20px]" min="0" value="75" max="100"></meter>
                </div>
                <div class="w-[90%]">
                    <p class="text-right">Django Framework 65%</p>
                    <meter class="w-[100%] h-[20px]" min="0" value="65" max="100"></meter>
                </div>
                <div class="w-[90%]">
                    <p class="text-right">Web Design 85%</p>
                    <meter class="w-[100%] h-[20px]" min="0" value="85" max="100"></meter>
                </div>
                <div class="w-[90%]">
                    <p class="text-right">Bootstrap Framework 80%</p>
                    <meter class="w-[100%] h-[20px]" min="0" value="80" max="100"></meter>
                </div>
                <div class="w-[90%]">
                    <p class="text-right">Tailwind CSS Framework 70%</p>
                    <meter class="w-[100%] h-[20px]" min="0" value="70" max="100"></meter>
                </div>
                <div class="w-[90%]">
                    <p class="text-right">Javascript 65%</p>
                    <meter class="w-[100%] h-[20px]" min="0" value="65" max="100"></meter>
                </div>
            </div>

            <div class=" px-[20%]">
                <img class="mypic" style='border-radius:50%;' src="static/img/mypic1.png" alt="">
                <h1 class="text-center font-bold mt-5 text-xl">Er. Nadeem Ali</h1>
                <h2 class="text-center">Software Engineer(MCA)</h2> <br>
                <p class="text-center ">+91 6397704636</p>
                <p class="text-center">nadeemalimachhr2002@gmail.com</p>
                <br>
                <p class="text-center m-2"><a
                        class="text-transform: uppercase rounded-full font-bold text-white bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 px-[50px] md:px-[60px] py-2 bg-pink-400 "
                        href="mailto:nadeemalimachhr2002@gmail.com">Email Me</a></p>
                <br>

                <p class="text-center m-2"><a
                        class="text-transform: uppercase rounded-full font-bold text-white px-[50px]  md:px-[60px] py-2 bg-green-500"
                        href="https://wa.me/916397704636">WhatsApp</a></p>
            </div>


        </div>
    </div>
</div>

<h1 class="text-center  md:text-[2.3rem]  text-[20px] font-bold mt-[40px]">My Qualifications</h1>
<p class="text-center">Who are in extremely love with eco friendly system.</p>
<div class="max-w[1240px] md:px-20 px-2 mx-auto py-6 grid lg:grid-cols-2 md:grid-cols-2 md:gap-10 gap-5 ">
    <div class="p-6 ">
        <h3 class="font-bold text-[20px] py-3 text-center"> Basic Computer Course</h3>
        <p class='text-center'><b>Duration: </b> 3 Months</p>
        <p class='text-center mt-2'><b>Result : </b> Grade B</p>

    </div>
    <div class="p-6 ">
        <h3 class="font-bold text-[20px] py-3 text-center">Bachelor of Computer Application </h3>
        <p class='text-center'><b>Session:: </b> 2019 to 2022</p>
        <p class='text-center mt-2'><b> Result:</b> 8.19 (In the Scale of 9.99)</p>

    </div>
</div>
<div class="p-6 ">
    <h3 class="font-bold text-[20px] py-3 text-center">Full Stack Development with Python </h3>
    <p class='text-center'><b>Duration: </b> 6 Months</p>
    <p class='text-center mt-2'><b>With Good Experience</b></p>

</div>

</div>


<div class='bg-[#F9F9FF]'>
    <h1 class="md:text-[36px] text-[20px] px-2 text-center font-bold my-[40px]">Some Features that Made us Unique</h1>
    <div
        class=" max-w[1240px] md:px-20 px-2 mx-auto py-6 grid lg:grid-cols-3 md:grid-cols-2 md:gap-10 gap-5 text-[#71716F]">
        <div class="bg-gray-100 p-6 feature">
            <h3 class="font-bold text-[20px] py-3"><i class="fa fa-user text-2xl"></i> Expert Technicians</h3>
            <p class="leading-relaxed">Usage of the Internet is becoming more common due to rapid advancement of
                technology and power.</p>
        </div>
        <div class="bg-gray-100 p-6 feature">
            <h3 class="font-bold text-[20px] py-3"><i class="fa fa-user text-2xl"></i> Professional Service</h3>
            <p class="leading-relaxed">Usage of the Internet is becoming more common due to rapid advancement of
                technology and power.</p>
        </div>
        <div class="bg-gray-100 p-6 feature">
            <h3 class="font-bold text-[20px] py-3"><i class="fa fa-user text-2xl"></i>
                Great Support</h3>
            <p class="leading-relaxed">Usage of the Internet is becoming more common due to rapid advancement of
                technology and power.</p>
        </div>
        <div class="bg-gray-100 p-6 feature">
            <h3 class="font-bold text-[20px] py-3"><i class="fa fa-user text-2xl"></i>
                Technical Skills</h3>
            <p class="leading-relaxed">Usage of the Internet is becoming more common due to rapid advancement of
                technology and power.</p>
        </div>
        <div class="bg-gray-100 p-6 feature">
            <h3 class="font-bold text-[20px] py-3"><i class="fa fa-user text-2xl"></i>
                Highly Recomended</h3>
            <p class="leading-relaxed">Usage of the Internet is becoming more common due to rapid advancement of
                technology and power.</p>
        </div>
        <div class="bg-gray-100 p-6 feature">
            <h3 class="font-bold text-[20px] py-3"><i class="fa fa-user text-2xl"></i>
                Positive Reviews</h3>
            <p class="leading-relaxed">Usage of the Internet is becoming more common due to rapid advancement of
                technology and power.</p>
        </div>
    </div>

</div>

<div class='max-w[1240px] md:px-20 mx-auto' id='contact'>
    <h1 class="md:text-[36px] text-[20px] text-center font-bold my-[60px]">If you need any website or software of any
        type, Just now
        contact us
    </h1>

    <form class="md:grid grid-cols-2 gap-10" accept="" method="post">
        {% csrf_token %}

        <!--{{ form.name}}-->
        <div class=" text-center">
            <input
                class="w-[90%]  p-[10px] border border-gray m-2 focus:outline-none focus:border-sky-500 focus:ring-sky-500"
                type="text" placeholder="Enter name" id='name' name='name' onkeyup="upper()" required />
            <input
                class="w-[90%]  p-[10px] border border-gray m-2 focus:outline-none focus:border-sky-500 focus:ring-sky-500"
                type="text" placeholder="Enter lastname" id='lastname' name='last_name' onkeyup="upper()" required />
            <input
                class="w-[90%]  p-[10px] border border-gray m-2 focus:outline-none focus:border-sky-500 focus:ring-sky-500"
                type="email" placeholder="Enter email address" name="email" onkeyup="upper()" required />
            <p id='val'></p>

            <input
                class="w-[90%]  p-[10px] border border-gray m-2 focus:outline-none focus:border-sky-500 focus:ring-sky-500"
                type="number" id='mobile' placeholder="Enter phone number" maxlength='10' name='number' required />
            <select name="opt" id=""
                class="w-[90%]  p-[10px] border border-gray m-2 focus:outline-none focus:border-sky-500 focus:ring-sky-500">
                <option value="" class="bg-gray">----Please select any one subject----</option>
                <option class="p-4 text-[18px]" value=" web design">Web Design</option>
                <option class="p-4 text-[18px]" value="web application">Web Application</option>
                <option class="p-4 text-[18px]" value="website maintainance">Website maintainance</option>
                <option class="p-4 text-[18px]" value="web hosting">Web Hosting</option>
                <option class="p-4 text-[18px]" value="software">Software</option>
            </select>
        </div>
        <div class="text-center ">
            <textarea
                class=" w-[90%] p-4 border border-gray m-2 focus:outline-none focus:border-sky-500 focus:ring-sky-500"
                onkeyup="upper()" name="msg" id="mes" cols="30" rows="6" placeholder="Message"></textarea>
            <div class="text-left mx-10">
                <button name='sub'
                    class="bg-white text-black border border-[black] md:w-[30%] md:ml-10 mt-5 p-[5px] hover:bg-black hover:text-white rounded font-bold "
                    type='submit'>Send Message</button>
            </div>

        </div>
    </form>
</div>
    {% endblock start %}